.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  max-width: 60vw;
  border-radius: 2%;
  padding: 10px;
}

.Inner-card {
  background-color: darkgray;
  max-width: 55vw;
  padding: 10px;
  border-color: #696a6b;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
  overflow: auto;
}

.Table {
  display: block;
  max-width: 90%;
  border-spacing: 0;
}

.Table-header {

  background-color: lightgray;
  border-color: #696a6b;
  border-style: solid;
}

.Table-cell {

  background-color: white;
  border-color: #696a6b;
  border-style: solid;
}


.Form-buttons {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  margin-top: 10px;
  max-width: 35vw;
  padding: 5px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  border-radius: 2%;
}
